* {
    box-sizing: border-box;
}

:root {
    --wood: rgba(71, 61, 47, 0.7);     
    --dark-wood: rgb(36, 30, 23);
    --light-wood: rgb(138, 117, 88);
}

header {
    margin: 2em;
    text-align: center;
    font-size: 3.5vw;
}

header h1, p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;    
    font-weight: 200;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
    ), url(https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 7.6em;
    background-color: var(--wood);
    border-radius: 1%;    
}

.input-container {
    width: 100%;
    margin: 0.8em 0;
}

form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 1em 1em;
    font-size: 2.6vw;
}

input {
    width: 2vw;
    height: 2vw;
}

#name, #email, #number, #dropdown, #comments, #submit {
    width: 100%;
    font-family: 'Poppins', sans-serif;    
    font-weight: 300;
    font-size: 1em;
    height: 1.7em;
}

#comments {
    margin-top: 0.5em;
    height: 6em;
}

#submit {
    height: 2.5em;
    border: none;
    color: white;
    background-color: var(--dark-wood);
    transition: .4s;
}

#submit:hover {
    background: var(--light-wood);
}

#submit:focus-within {
    background: var(--light-wood)
}

@media (min-width: 1000px) {

    header {
        font-size: 1.5vw;
    }

    .form-container {
        width: 60%;
    }

    form {
        font-size: 1.5vw;
    }

    input {
        width: 1.3vw;
        height: 1.3vw;
    }
}
